body {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 40px; }

p {
  font-size: 18px; }

input.form-control, .form-control[readonly] {
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none; }

.text-center {
  text-align: center; }

.center {
  margin: 0 auto;
  float: none; }

.margin-bottom {
  margin-bottom: 80px; }

.padding-none {
  padding: 0; }

.padding-section {
  padding-top: 6%;
  padding-bottom: 6%; }

.padding-top-little {
  padding-top: 15px; }

.padding-section-elements-top {
  padding-top: 3%; }

.padding-section-elements-bottom {
  padding-bottom: 3%; }

.btn {
  border-radius: 0px; }

.btn-big {
  padding: 1% 3%;
  font-size: 15px;
  letter-spacing: 2px; }

.navbar-default .navbar-toggle {
  border-radius: 0px;
  border: 2px solid #DEAF4D; }
  .navbar-default .navbar-toggle:hover {
    background: none; }
  .navbar-default .navbar-toggle:focus {
    border-radius: 0px;
    border: 2px solid #DEAF4D;
    background: none; }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #DEAF4D; }

.navbar {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px; }
  .navbar .navbar-header {
    margin-top: 2vh;
    font-size: 20px; }
    .navbar .navbar-header .btn-border {
      border: 1px solid #fefefe;
      color: #fff;
      padding: 10px;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }
      .navbar .navbar-header .btn-border:hover {
        padding: 10px 20px;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        -webkit-transition: all 0.6s;
        transition: all 0.6s; }
    .navbar .navbar-header a {
      color: #fefefe;
      font-weight: 100;
      letter-spacing: 5px; }
  .navbar .navbar-nav {
    margin-top: 2vh; }
    .navbar .navbar-nav li a {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      font-weight: 100;
      color: #DEAF4D;
      -moz-transition: all 0.8s;
      -o-transition: all 0.8s;
      -webkit-transition: all 0.8s;
      transition: all 0.8s; }
      .navbar .navbar-nav li a:hover {
        color: #8224E3;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        transition: all 0.8s; }
      .navbar .navbar-nav li a:focus {
        color: #8224E3;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -webkit-transition: all 0.8s;
        transition: all 0.8s; }

nav.navbar.shrink-nav {
  background: #DEAF4D;
  min-height: 20px !important;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  nav.navbar.shrink-nav .navbar-brand {
    font-size: 15px;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
  nav.navbar.shrink-nav .navbar-right li > a {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 5px;
    color: #fefefe;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }

.well {
  border-radius: 0px;
  border: none;
  box-shadow: none; }

@media (max-width: 992px) {
  .well {
    height: 60vh;
    overflow-y: scroll !important;
    overflow-x: hidden !important; } }
.hero {
  background: linear-gradient(rgba(20, 20, 20, 0.5), rgba(20, 20, 20, 0.5)), url("../img/bg_cine.gif");
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  margin-top: -20px; }
  .hero .hero-caption {
    top: 50vh; }
    .hero .hero-caption h1 {
      font-size: 80px;
      letter-spacing: 3px; }

#slogan {
  background-color: #DEAF4D;
  color: #222222; }
  #slogan h1 {
    font-weight: 100;
    letter-spacing: 10px;
    text-transform: uppercase; }
  #slogan .btn-contact {
    text-align: center;
    display: block;
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid #222222;
    padding: 3% 0;
    letter-spacing: 4px;
    color: #000;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    -webkit-transition: all 0.6s;
    transition: all 0.6s; }
    #slogan .btn-contact:hover {
      border-color: #fefefe;
      color: #fff;
      -moz-transition: all 0.6s;
      -o-transition: all 0.6s;
      -webkit-transition: all 0.6s;
      transition: all 0.6s; }

#services p {
  font-weight: 100; }
#services .services-icon {
  width: 100px;
  height: 100px; }

.gallery-container, .gallery-img {
  padding-left: 0px;
  padding-right: 0px; }

div.caption {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  color: #000000;
  text-align: center; }

div.caption * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease; }

div.caption img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s; }

div.caption:after {
  background: #DEAF4D;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.75;
  -webkit-transform: skew(-35deg) scaleX(0);
  transform: skew(-35deg) scaleX(0);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

div.caption figcaption {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1; }

div.caption h2,
div.caption p {
  margin: 0;
  width: 80%;
  opacity: 0; }

div.caption h2 {
  padding: 0 30px;
  display: inline-block;
  font-weight: 100;
  letter-spacing: 2px;
  text-transform: uppercase; }

div.caption a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1; }

div.caption:hover:after,
div.caption.hover:after {
  -webkit-transform: skew(0deg) scaleX(1);
  transform: skew(0deg) scaleX(1);
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

div.caption:hover figcaption h2,
div.caption.hover figcaption h2,
div.caption:hover figcaption p,
div.caption.hover figcaption p {
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

div.caption:hover figcaption h2,
div.caption.hover figcaption h2 {
  opacity: 1; }

div.caption:hover figcaption p,
div.caption.hover figcaption p {
  opacity: 0.7; }

div.caption img {
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

div.caption:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }

.modal .gallery-modal {
  width: 80%; }
  .modal .gallery-modal .modal-body {
    padding-top: 0px; }

#contact {
  background-color: #333;
  color: #fefefe; }
  #contact input, #contact textarea {
    background: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    color: #fefefe;
    font-weight: 100;
    letter-spacing: 2px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
    #contact input:focus, #contact textarea:focus {
      box-shadow: none;
      border-bottom-color: #DEAF4D;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s; }
  #contact .btn-contact {
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid #fefefe;
    padding: 1% 3%;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }
    #contact .btn-contact:hover {
      letter-spacing: 3px;
      border-color: #DEAF4D;
      color: #fff;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }

.footer {
  background: #222222;
  height: 150px; }
  .footer .footer-links {
    color: #fefefe;
    padding-top: 5%; }
    .footer .footer-links .fa {
      font-size: 30px; }
    .footer .footer-links li {
      display: inline-block;
      padding-right: 30px; }
    .footer .footer-links a {
      letter-spacing: 2px;
      color: #fefefe;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      .footer .footer-links a:hover {
        color: #DEAF4D;
        text-decoration: none;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        transition: all 0.4s; }

@media (max-width: 992px) {
  .footer {
    height: 230px; }
    .footer .footer-links {
      color: #fefefe;
      padding-top: 5%; }
      .footer .footer-links li {
        padding-right: 20px; }
      .footer .footer-links .fa {
        font-size: 20px; } }
.modal-content {
  border: none;
  border-radius: 0px; }

.modal input, .modal textarea {
  box-shadow: none;
  background: none;
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;
  font-weight: 100;
  letter-spacing: 2px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .modal input:focus, .modal textarea:focus {
    box-shadow: none;
    border-bottom-color: #DEAF4D;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
.modal .btn-login {
  margin-top: 20px;
  border-radius: 0px;
  background: none;
  border: 2px solid #222222;
  padding: 1% 3%;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .modal .btn-login:hover {
    letter-spacing: 3px;
    border-color: #DEAF4D;
    color: #222222;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; }

#services-modal .modal-dialog, #about-modal .modal-dialog, #slider-one .modal-dialog, #slider-two .modal-dialog {
  width: 90%; }
