@import "modules/all";


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

body{
  font-family: 'Lato', sans-serif;
}

h1{
  font-size: 40px;
}

p{
  font-size: 18px;
}
a{
  cursor: pointer !important;
  &:hover{
    cursor: pointer !important;
  }
}

input.form-control, .form-control[readonly]{
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.text-center{
  text-align: center;
}

.center{
  margin: 0 auto;
  float: none;
}

.margin-bottom{
  margin-bottom: 80px;
}
.padding-none{
  padding: 0;
}
.padding-section{
  padding-top: 6%;
  padding-bottom:6%;
}
.padding-top-little{
  padding-top: 15px;
}

.padding-section-elements-top{
  padding-top: 3%;
}

.padding-section-elements-bottom{
  padding-bottom: 3%;
}


.btn{
  border-radius: 0px;
}

.btn-big{
  padding: 1% 3%;
  font-size: 15px;
  letter-spacing: 2px;
}
//nav



.navbar-default .navbar-toggle{
  border-radius: 0px;
  border: 2px solid $orange;
  &:hover{
    background: none;
  }
  &:focus{
    border-radius: 0px;
    border: 2px solid $orange;
    background: none;
  }

  .icon-bar{
    background-color: $orange;
  }
}

.navbar{
  border: none;
  border-radius: 0px;
  background-color: transparent;
  margin-bottom: 0px;
  .navbar-header{
    margin-top: 2vh;
    font-size: 20px;
    .btn-border{
      border: 1px solid $white;
      color: #fff;
      padding: 10px;
      @include transition(all .6s);
      &:hover{
        padding: 10px 20px;
        @include transition(all .6s);
      }
    }
    a{
      color: $white;
      font-weight: 100;
      letter-spacing: 5px;

    }
  }
  .navbar-nav{
    margin-top: 2vh;

    li a{
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      letter-spacing: 3px;
      font-weight: 100;
      color: $orange;
      @include transition(all .8s);
      &:hover{
        color: $purple;
        @include transition(all .8s);
      }
      &:focus{
        color: $purple;
        @include transition(all .8s);
      }
    }
  }
}

  // on Scroll

 nav.navbar.shrink-nav{
    background: $orange;
    min-height: 20px !important;
    @include transition(all .4s);

    .navbar-brand{
      font-size: 15px;
      @include transition(all .4s);
    }.navbar-right li > a{
      font-size: 13px;
      font-weight: 100;
      letter-spacing: 5px;
      color: $white;
      @include transition(all .4s);
    }
  }

  //Edit Mode
  .well{
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }

  @media #{$medium-and-down}{
    .well{
      height: 60vh;
      overflow-y:scroll!important; overflow-x:hidden!important;
    }
  }

//hero


 .hero{
  background: linear-gradient(
                       rgba(20,20,20, .5),
                       rgba(20,20,20, .5)),
                       url( '../img/bg_cine.gif');
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  margin-top: -20px;
  .hero-caption{
    top: 50vh;
    h1{
      font-size: 80px;
      letter-spacing: 3px;
    }
  }
}
//About

#slogan{
  background-color: $orange;
  color: $footer-black;
   h1{
     font-weight: 100;
     letter-spacing: 10px;
     text-transform: uppercase;
   }
   .btn-contact{
    text-align: center;
    display: block;
     margin-top: 20px;
     border-radius: 0px;
     background: none;
     border: 2px solid $footer-black;
     padding: 3% 0;
     letter-spacing: 4px;
     color: #000;
     @include transition(all .6s);

     &:hover{
       border-color: $white;
       color: #fff;
       @include transition(all .6s);
     }
   }
}

//services
#services{
  p{
    font-weight: 100;
  }
  .services-icon{
    width: 100px;
    height: 100px;
  }
}


//gallery- portfolio
.gallery-container, .gallery-img{
  padding-left: 0px;
  padding-right: 0px;
}
@import "img-hover";
@import "gallery-modals";

//contact

#contact{
  color: $footer-black;
  a{
    cursor: pointer;
  }
   p{
    text-decoration: none;
    font-style: italic;
    text-transform: uppercase;
    color: $orange;
    &:hover{
      cursor: pointer;
    }
  }
  hr{
    border-top-color: #000 !important;
  }

  input, textarea{
    background: rgba(#fff, 0.37);
    border: 2px solid rgba(#ffffff, 0.95);
    color: $footer-black;
    font-weight: 100;
    letter-spacing: 4px;
    border-radius: 0px;
    @include transition(all 1s);
    &:focus{
      box-shadow: none;
      border-bottom-color: $orange;
      @include transition(all 1s);
    }
  }

  .btn-contact{
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid $footer-black;
    padding: 1% 3%;
    @include transition(all .4s);

    &:hover{
      letter-spacing: 3px;
      border-color: $orange;
      background: $orange;
      @include transition(all .4s);
    }
  }
}

#google-maps{
  height: 100%;
  background: linear-gradient(90deg,  rgba(#fff, 0.45) 15%, rgba(#000, 0.18) 85%), url(../img/map-bg.jpg);
  background-attachment: fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  background-size: cover;
  // -o-background-size: cover;
}




//footer
.footer{
  background: $footer-black;
  height: 150px;
  .footer-links{
    color:$white;
    padding-top:5%;
    .fa{
      font-size: 30px;
    }
    li{
      display: inline-block;
      padding-right: 30px;
    }
    a{
      letter-spacing: 2px;
      color: $white;
      @include transition(all .4s);
      &:hover{
        color: $orange;
        text-decoration: none;
        @include transition(all .4s);
      }
    }
  }
}

@media #{$medium-and-down}{
  .footer{
    height: 230px;
    .footer-links{
      color:$white;
      padding-top:5%;
      li{
        padding-right: 20px;
      }
      .fa{
        font-size: 20px;
      }
    }
  }
}


//Modals

.modal-content{
  border: none;
  border-radius: 0px;
}

.modal{
  input, textarea{
    box-shadow: none;
    background: none;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    font-weight: 100;
    letter-spacing: 2px;
    @include transition(all 1s);
    &:focus{
      box-shadow: none;
      border-bottom-color: $orange;
      @include transition(all 1s);
    }
  }
  .btn-login{
    margin-top: 20px;
    border-radius: 0px;
    background: none;
    border: 2px solid $footer-black;
    padding: 1% 3%;
    @include transition(all .4s);

    &:hover{
      letter-spacing: 3px;
      border-color: $orange;
      color: $footer-black;
      @include transition(all .4s);
    }
  }
}

    // Services modal

    #services-modal, #about-modal, #slider-one, #slider-two{
      .modal-dialog{
        width: 90%;
      }
    }
